@import "/node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #231e46;
$orange: #e84633;

$theme-colors: (
  "primary": $primary,
  "orange": $orange,
);

// 3. Include remainder of required Bootstrap stylesheets
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root::-webkit-scrollbar {
  display: none;
  background-color: rgb(75, 138, 255);
}

:root::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

:root::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

// removing default styling

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// custom styling

.all-text-muted > span {
  color: rgb(65, 65, 65);
}

// custom icons
.custom-icon {
  &.empty {
    display: block;
    background: url("../icons/empty.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
  &.knotweed {
    display: block;
    background: url("../icons/knotweed.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
  &.retirement {
    display: block;
    background: url("../icons/retirement.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
  &.shared-ownership {
    display: block;
    background: url("../icons/shared-ownership.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
  &.tenanted {
    display: block;
    background: url("../icons/tenanted.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
  &.portfolio {
    display: block;
    background: url("../icons/portfolio.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
  &.online-viewing {
    display: block;
    background: url("../icons/virtual-tour.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
  &.full-planning {
    display: block;
    background: url("../icons/planning.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    svg {
      display: none;
    }
  }
}
