.property-card {
  .ant-divider {
    margin: 6px 0;
  }
  .tag-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 4px;
    justify-content: end;
    z-index: 1;
    flex-wrap: wrap;
    span {
      margin-inline: 1px;
      margin-bottom: 2px;
    }
    .ant-badge {
      position: relative;
      .ant-badge-count {
        height: 24px;
        font-size: 14px;
        line-height: 24px;
        border-radius: 14px;
      }
    }
  }
  .ant-card-body {
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .street-view-btn {
      margin-top: auto;
      span {
        font-size: 14px;
      }
    }
  }
  .slick-arrow {
    z-index: 1;
    &.slick-prev {
      left: 2px;
    }
    &.slick-next {
      right: 2px;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    color: rgb(134, 134, 134);
    font-size: 20px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }
}
