.property-card {
  &.highlighted {
    border: 2px solid rgb(232, 70, 51);
    box-shadow: rgba(232, 70, 51, 0.4) 5px 5px, rgba(232, 70, 51, 0.3) 10px 10px, rgba(232, 70, 51, 0.2) 15px 15px, rgba(232, 70, 51, 0.1) 20px 20px,
      rgba(232, 70, 51, 0.05) 25px 25px;
    // box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    // rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  .ant-divider {
    margin: 6px 0;
  }
  .tag-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 4px;
    justify-content: end;
    z-index: 1;
    flex-wrap: wrap;
    span {
      margin-inline: 1px;
      margin-bottom: 2px;
    }
    .ant-badge {
      position: relative;
      .ant-badge-count {
        height: 24px;
        font-size: 14px;
        line-height: 24px;
        border-radius: 14px;
      }
    }
  }
  .ant-card-body {
    height: 330px;
    overflow-y: none;
    display: flex;
    flex-direction: column;
    .street-view-btn {
      margin-top: auto;
      span {
        font-size: 14px;
      }
    }
  }
  .slick-arrow {
    z-index: 1;
    &.slick-prev {
      left: 2px;
    }
    &.slick-next {
      right: 2px;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    color: rgb(134, 134, 134);
    font-size: 20px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }
}
